<header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a href="#"
            ><img src="/app/assets/imags/logo-autosantana.svg" alt=""
          /></a>
        </div>
        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__link--item"><a href="#">Diferencial</a></li>
            <li class="header__link--item"><a href="#">Etapas</a></li>
            <li class="header__link--item"><a href="#">Depoimentos</a></li>
            <li class="header__link--item"><a href="#">Dúvidas</a></li>
            <li class="header__link--item"><a href="#">Contato</a></li>
            <li class="header__link--item button">
              <a href="#">Matricular</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>