@use "../variables/fonts";
@use "../variables/color";
@use "../variables/spacing";

main {
  margin: auto;
  width: 70%;
}

#banner__container {
  background: color.$color-secondary;
  height: 30rem;
  border-radius: 0.5rem;
  margin-top: 6rem;
  padding: 3rem;
  overflow: hidden;

  a {
    display: flex;
    
    gap: 1rem;
    color: color.$color-primary;
     height: 100%;

    img {
      height: 30rem;
      object-fit: cover;
    }
    div{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
