@use "../variables/fonts";
@use "../variables/color";
@use "../variables/spacing";

main {
  margin: auto;
  width: 70%;
}

#banner__container {
  background: color.$color-secondary;
  height: 30rem;
  border-radius: 0.5rem;
  margin-top: 6rem;
  padding: 3rem;
  overflow: hidden;

  a {
    display: flex;

    gap: 1rem;
    color: color.$color-primary;
    height: 100%;

    img {
      height: 30rem;
      object-fit: cover;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.posts__lists {
  overflow: hidden;

  #posts__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 5rem 0;
  }
}

#card__blog {
  height: 20rem;
  padding: 1rem;
  color: color.$color-primary;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;

  &:hover {

    background: color.$color-secondary;
    border: solid 0.05rem color.$color-primary;
  }
}

.card-content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  h3 {
    font-size: fonts.$font-xs;
    font-weight: fonts.$font-bold;
  }

  img {
    height: 50%;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  p {
    font-size: fonts.$font-mn;
  }
}
