@use "../variables/fonts";
@use "../variables/color";
@use "../variables/spacing";

body {
  width: 100%;
  font-family: fonts.$font-primary;
  a {
    text-decoration: none;
  }
}
main {
  margin-top: 4rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.93);
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;

  .header__container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo img {
      height: 1rem;
    }

    .header__list {
      display: flex;
      gap: spacing.$space-md;
      align-items: center;

      a {
        color: color.$color-light;
      }
      a:hover {
        color: color.$color-secondary;
      }

      .button {
        background: color.$color-secondary;
        height: 1.5rem;
        width: 5rem;
        border-radius: 0.5rem;
        align-items: center;
        display: flex;
        justify-content: center;

        a {
          color: color.$color-primary;
          font-weight: fonts.$font-semibold;
          font-size: 0.9rem;
        }
      }
      .button:hover {
        background: color.$color-light;
      }
    }
  }
}

.banner {
  background: color.$color-primary;
  height: 100vh;
  color: color.$color-light;
  display: flex;
  justify-content: center;

  .banner__container {
    width: 70%;
    display: flex;
    align-items: center;

    .banner__text {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 50%;

      .banner__title {
        font-size: fonts.$font-4xl;
        font-weight: fonts.$font-extra;
        width: 80%;
        span {
          color: color.$color-secondary;
          font-style: italic;
        }
      }

      .banner__subtitle {
        width: 80%;
        color: color.$color-text;
      }

      .banner__text-cta {
        display: flex;
        gap: 2rem;
        a {
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          font-weight: fonts.$font-extra;
          gap: 0.5rem;
          display: flex;
        }

        .banner__link--whatsApp {
          background: color.$color-secondary;
          color: color.$color-primary;
        }

        .banner__link--whatsAppPrimary {
          border: solid 0.09rem color.$color-text;
          color: color.$color-light;
          i {
            color: color.$color-secondary;
            font-weight: bold;
          }
        }
      }

      .primary {
        background: color.$color-secondary;
        color: color.$color-primary;
        font-size: fonts.$font-mn;
        border-radius: 0.5rem;
        height: 1.2rem;
        width: 11rem;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: fonts.$font-medium;
      }
    }
  }
}

.differential {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;

  .differential__container {
    width: 70%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .differential__title {
      width: 50%;

      h2 {
        font-size: fonts.$font-2xl;
        font-weight: fonts.$font-extra;
        span {
          background: color.$color-primary;
          color: color.$color-secondary;
        }
      }
    }

    .differential__itens {
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
        font-weight: fonts.$font-semibold;
        i {
          font-size: 0.5rem;
          color: color.$color-secondary;
        }
      }
    }
  }
}

.technology {
  height: 100vh;
  display: flex;
  justify-content: center;

  .technology__container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .technology__title {
      gap: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 4rem;

      h2 {
        font-size: fonts.$font-2xl;
        align-items: center;
        font-weight: fonts.$font-extra;
        span {
          background: color.$color-primary;
          color: color.$color-secondary;
        }
      }

      p {
        color: color.$color-text;
      }
    }

    .technology__content {
      .technology__buttons {
        display: flex;
        gap: 1rem;
        button {
          background: #f3f4f6;
          border: none;
          display: flex;
          padding: 0.8rem 0.5rem;
          color: color.$color-text;
          border-radius: 0.5rem;
          font-weight: fonts.$font-semibold;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        button:hover {
          background: #e5e7eb;
        }
        button.active {
          background: color.$color-secondary;
          color: color.$color-primary;
          box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
        }
      }

      .category-active {
        display: flex;
      }
      .category {
        display: none;
        align-items: center;
        width: 100%;

        .category__text {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h3 {
            font-size: fonts.$font-lg;
            font-weight: fonts.$font-extra;
          }

          p {
            width: 70%;
            color: color.$color-text;
          }

          .text__itens {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            line-height: 0.1rem;

            .text__item {
              display: flex;
              align-items: center;
              gap: 0.3rem;
              margin-top: 2rem;
              i {
                color: color.$color-secondary;
              }

              p {
                width: 10rem;
                color: color.$color-primary;
              }
            }
          }
        }

        .category__img {
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.step {
  display: flex;
  justify-content: center;
  background: color.$color-primary;
  color: color.$color-text;
  padding: 4rem 0;

  .step__container {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .step__title {
      font-size: fonts.$font-2xl;
      font-weight: fonts.$font-extra;
      color: color.$color-light;

      span {
        color: color.$color-secondary;
        font-style: italic;
      }
    }

    .step__content {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
    
      align-items: center;
      gap: 1.5rem;

      .step__card {
        border: solid 0.05px;
        height: 15rem;
        width: 15rem;
        
        border-radius: 0.5rem;
        padding: 2rem 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        position: relative;
        justify-content: center;
        gap: 1rem;
        text-align: center;
         
        span{
          font-size: fonts.$font-mn;
          position: absolute;
          left: 0.8rem;
          top: 1rem;
        }
        i{
          font-size: 4rem;
          color: color.$color-secondary;
        }
       
        

        h3 {
          font-size: fonts.$font-md;
          color: color.$color-secondary;
        }
        p {
         
          font-size: fonts.$font-mn;
          font-weight: 400;
        
        }
      }
    }
  }
}
