<section class="cta">
        <div class="cta__container">
          <h2>SUA CNH <br /><span>COMEÇA HOJE</span></h2>
          <p>
            Agende um diagnóstico gratuito e receba seu plano personalizado.
          </p>
          <a href="#">
            <div>
              <img
                src="/app/assets/imags/Backhand Index Pointing Right.svg"
                alt=""
              />
              <p>Falar no WhatsApp agora</p>
            </div>
          </a>
          <p class="cta__localization">
            ATENDIMENTO RÁPIDO - CENTRO DE FEIRA DE SANTANA
          </p>
        </div>
      </section>