<header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a href="/app/website/pages/home/index.html"
            ><img src="/app/website/assets/imags/logo-autosantana.svg" alt=""
          /></a>
        </div>
        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__link--item"><a href="/app/website/pages/blog/blog.html">Blog</a></li>
            <li class="header__link--item"><a href="#">Contato</a></li>
            <li class="header__link--item"><a href="#">Sobre</a></li>
           
            <li class="header__link--item button">
              <a href="#">Matricular</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>