<header id="header-system">
  <div class="header-system__container">
    <div class="header-system__greeting">
      <p class="header-system__text">Olá, Felipe <span class="header-system__text--icon">👋</span></p>
    </div>

    <div class="header-system__informative">
      <div class="header-system__search">
        <input class="header-system__input" type="text" />
      </div>

      <div class="header-system__notification">
        

      <div class="header-system__profile">
        <div class="header-system__user-info">
          <p class="header-system__name">Felipe Coelho</p>
          <p class="header-system__role">Categoria B</p>
        </div>

        <div class="header-system__avatar">
          <p>🧟‍♂️</p>
          <img class="header-system__image" src="" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
